// @import url('fonts/ABCGintoNord-Bold.otf');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'GintoNord', 'SpaceMono', 'Inter', sans-serif;
  font-size: 21px;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow: visible;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}
@font-face {
  font-family: 'GintoNord';
  src: url('../public/fonts/ABCGintoNord-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../public/fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
