*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif, 'Space Mono', sans-serif, 'ABC Ginto Nord',
    sans-serif, 'Monoton', sans-serif;
  font-size: 21px;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow: visible;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}
