// Shared styles

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('/Background-Shape.svg');
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.cards,
.card,
.text {
  font-family: 'Inter';
}

// Left (top) section styles

.left {
  width: 44vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 32px;

  .mission {
    font-family: 'SpaceMono';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgb(20, 192, 114);
  }

  h1 {
    margin: 0;
    font-family: 'GintoNord';
    font-weight: 700;
    font-size: 44px;
    line-height: 52.8px;
    color: #121212;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5f6d65;
    font-family: 'Inter';
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 8px;
    width: 241px;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #121212;
    background: rgb(20, 192, 114);
    border-radius: 12px;
    border: none;
    cursor: pointer;
  }
}

// Cards section styles

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
}

.card {
  display: flex;
  align-items: center;
  width: 571px;
  height: 132px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.06),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 32px 24px;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #5f6d65;
  }
}

.iconCard {
  padding: 20px;
  background: #f3f6f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
  }
}

// Media queries
// for dekstop

@media (min-width: 960px) {
  .main {
    height: 100vh;
    h2,
    p {
      margin: 0;
    }
  }
  .card {
    gap: 28px;
  }
  .text {
    gap: 6px;
  }
  .iconCard {
    margin: 0rem;
  }
}

// for tablet

@media (min-width: 701px) and (max-width: 1100px) {
  .main {
    margin-top: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    h2,
    p {
      margin: 0;
    }
  }

  .left {
    width: 80vw;
    margin-bottom: 2rem;
  }
  .cards {
    width: 80vw;
  }
  .card {
    width: 80vw;
    padding: 10px;
  }
  .iconCard {
    margin: 1rem;
  }
}

// for mobile

@media (max-width: 701px) {
  .main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;

    p {
      margin: 0;
    }
  }
  .left {
    width: 80vw;

    .mission,
    button {
      align-self: center;
    }
    h1 {
      text-align: center;
    }
  }
  .cards {
    width: 80vw;
    margin-bottom: 2rem;
  }

  // design for mobile cards view: icon on the left side of the text
  .card {
    width: 80vw;
    height: 170px;
    padding: 18px;
    gap: 18px;
  }

  // optional design for mobile cards view: text under the icon
  // .card {
  //   flex-direction: column;
  //   width: 80vw;
  //   height: 240px;
  //   padding: 18px;
  //   gap: 0;
  // }
  // .text {
  //   align-items: center;
  //   gap: 6px;
  //   h2 {
  //     margin: 0;
  //   }
  // }
  // .iconCard {
  //   margin: 1rem;
  // }
}
